{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-function-bind",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-runtime",
      ["babel-plugin-import", {
          "libraryName": "antd",
          "style": "css"
      }, "import-antd"],
      ["babel-plugin-import", {
          "libraryName": "lodash",
          "libraryDirectory": "",
          "camel2DashComponentName": false
      }, "import-lodash"]
  ]
}